.tabletop {
	color:#543266;
 background-color:#D6E0DC;
}

.tablecontent{
	color:#7FFFD4;
}
.field{
	background-color:#000000;
	
}
.error{
	color:#000000;
}
.areatext{
	color:#543266;
	background-color:#272b30;
}